.personal-data-form{
    width: 16%;
    margin-left: 5rem;
    margin-top: 3rem;
    background: linear-gradient(to right, rgba(99, 197, 221, 0.973), rgba(241, 178, 243, 0.986));
    line-height: 2rem;
    font-weight: bold;
    box-shadow: 0 1px 4px;
    display: inline-flex;
}

.personal-data-form legend, 
.personal-data-form label, 
.personal-data-form input 
{
  margin-left: 1rem; 
  border-radius: 0.4rem;
}

.comment-area{
    width: 80%;
    height: 5vh;
    padding: 1rem;
}


.product-form{
    width: 12.7%;
    height: 49vh;
    display: inline-flex;
    vertical-align: top;
    margin-top: 3rem;
    margin-left: 2rem;
    background: linear-gradient(to left, rgba(99, 197, 221, 0.973), rgba(241, 178, 243, 0.986));
    font-weight: bold;
    box-shadow: 0 1px 4px; 
}

.product-form legend, 
.product-form label, 
.product-form input 
{
  border-radius: 0.4rem;
  line-height: 2rem;
}

.product-form legend 

{
  text-align: center;
}


.product-form p
{
  border-radius: 0.4rem;
  line-height: 0.6rem;
}


.button{
    background: mediumspringgreen;
    cursor: pointer;
    margin-top: 2rem;
}

.button:hover{
    background: rgb(191, 228, 214);
    columns: red;
}

.advertisement-form{
    display: inline-flex;
    width: 20%;
    height: 60vh;
    vertical-align: top;
    margin-top: 3rem;
    margin-left: 2rem;
    background: black;
    color: white;
    border-radius: 0.6rem;
    box-shadow: 0 2px 5px;
     
}
.advertisement-form h3{
    width: 100%; 
    display: block;   
}

.advertisement-form p{
    width: 100%; 
    display: block;   
}

.advertisement-form form{
    width: 100%;  
    display: block;  
}

.advert{
    position: absolute;
    top: 1rem;
    padding: 2rem;
}

.reservation{
    position: absolute;
    top: 12rem;
    padding: 2rem;
}

.form-3{
    line-height: 2rem;
    position: absolute;
    top: 18rem;
    padding: 2rem;
}
.btn{
    background: orange;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn:hover{
    background-color: rgba(212, 236, 238, 0.966);
}
  